# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
config.ign.merged
coverage.txt
dist

.idea

.terraform
.terraform.lock.hcl
terraform.d
terraform.tfstate*
terraform-provider-vagrant
.vagrant
